@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #006A50;
    --secondary-color: #C6E4D6;
    --background-color: #F5F5F5;
    --text-color-dark: #0E0E0E
    --text-color-light: #fff;
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Fira Sans", serif;
    font-size: 10px;
    background-color: var(--background-color);
}

p{
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
}
.container{
    width: 80vw;
    max-width: 1140px;
    margin: auto;
}

section{
    margin-bottom: 5rem;
}

.section-title{
    font-weight: 800;
    color: var(--text-color-dark);
    font-size: 4rem;
    margin-bottom: 2rem;
}

.section-description{
    margin-bottom: 3.2rem;
}
.box-item-heading{
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color-dark);
    margin: 1.6rem 0;
}

/*---------- Header Start ---------- */

nav{
    padding: 3rem 0;
}

nav .logo{
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--text-color-dark);
    display: inline-block;
}

nav .btn-sign-in{
    color: var(--primary-color);
    font-weight: 500;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 1.5rem 3rem;
    display: inline-block;
    margin-left: auto;
}

#hero .container{
    background-color: var(--secondary-color);
    border-radius: 2.4rem;
    display: flex;
    padding: 8rem 6rem;
    gap: 6.4rem;
}

.hero-content{
    width: 60%;
}

.hero-img{
    width: 40%;
}

.hero-content .subtitle{
    color: var(--primary-color);
    font-size: 2.4rem;
    color: var(--primary-color);
    margin-bottom: 2.4rem;
}

.hero-content .title{
    color: var(--text-color-dark);
    font-size: 5.6rem;

}


/* ---------- Header End ---------- */

/* ---------- Vision Start */

.vision-boxes{
    display: flex;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
}

.vision-boxes .box-item{
    flex-grow: 1;
    padding: 3.2rem;
    border-radius: 1.6rem;
}

.vision-boxes .box-item img{
    width: 6.4rem;
    height: 6.4rem;
}

.vision-boxes .box-item:first-child{
    background-color: rgba(84, 143, 245, 0.212);
}

.vision-boxes .box-item:nth-child(2){
    background-color: #C6E4D6;
}

.vision-boxes .box-item:last-child{
    background-color: #F7EBCF;
}

.vision-boxes .box-item p{
    margin-bottom: 1.6rem;
}

.box-item-btn{
    color: white;
    border-radius: 8px;
}

.vision-boxes .box-item:first-child a{
    background-color: #5490F5;
}

.vision-boxes .box-item:nth-child(2) a{
    background-color: #09A15C;
}

.vision-boxes .box-item:last-child a{
    background-color: #FFC239;
}
/* ---------- Vision End ---------- */

/* ---------- Quote Start ---------- */
.quote-box{
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 4.8rem 2.4rem;
    background-color: white;
    background-position: 2.4rem 2.4rem;
    border-radius: 2.4rem;

}
/* ---------- Quote End ---------- */